<div class="aboutAuthor">
    <div class="K2_bio">
      <img alt="About " src="/assets/about.jpg">
      
      <h2> Mohamed Yousef</h2>
  <div class="h-divider">
  <div class="shadow"></div>
     <div class="text2"></div> 
</div>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pretium augue non orci pharetra, eget dictum ante sagittis. Suspendisse eu nibh justo. Cras scelerisque urna lectus. Praesent rhoncus ut risus quis convallis. Praesent nec lorem eros.</p>
        <div class="h-divider">
  <div class="shadow"></div>
</div>
      <div class="k2About-bt">
        <a class="button" href="#"><span style="color: white;">Add Link</span></a>
      </div>
    </div>
  </div>
